<!DOCTYPE html>
<html>
    <head><link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css"><title>about page</title></head>
    <body>
        <div class="main-content">
            {{>header}}
                <h1>about {{name}}</h1>
                this is {{name}}<br><br>
                <img class="portrait" src='/image/image.jpg'>
        </div>
        {{>footer}}
    </body>
</html>