<!DOCTYPE html>
<html>
    <head><link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/styles.css"><title>Error page</title></head>
    <body>
       <div class="main-content">
        <h1>Error 404</h1>
        {{title}} not found
       </div>
        {{>links}}
        
    </body>
</html>