<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/image/weather.png">
         <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}} page</title></head>
    <body>
       <div class="main-content"></div> 
        {{>header}}
        <h1>Welcome to the {{title}} page</h1>
       </div> 
        {{>footer}}
    </body>
</html>