<!DOCTYPE html>
<html>
    <head><link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/image/weather.png">
        <title>Home page</title></head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> welcome to the  {{title}} page</p>
            <br> This website was created as a part of a Nodejs course available on Udemy. It fetches the weather of a city from a 3rd party website and displays the actual and apparent temperature on the screen
            <br>
            <form>
                <input placeholder="location">
                <button> Search </button>
            </form>
        </div>
        <p id="message1"></p>
        <p id="message2"></p>
        {{>footer}}

        <script src="/js/scriptFile.js"></script>
    </body>
</html>