<!DOCTYPE html>
<html>
    <head><link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title></head>
    <body>
        {{>header}}
        <h1>about {{name}}</h1>
        this is {{name}}<br><br>
        <img src='/image/image.jpg'>
        {{>footer}}
    </body>
</html>