<!DOCTYPE html>
<html>
    <head><link rel="stylesheet" href="/css/styles.css"><title>about page</title></head>
    <body>
        {{>header}}
        <h1>about {{name}}</h1>
        this is {{name}}<br><br>
        <img src='/image/image.jpg'>
        {{>footer}}
    </body>
</html>