<!DOCTYPE html>
<html>
    <head><title>{{title}} page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></head>
    <body>
        {{>header}}
        <h1>Welcome to the {{title}} page</h1>
        {{>footer}}
    </body>
</html>