<!DOCTYPE html>
<html>
    <head><link rel="stylesheet" href="/css/styles.css">
        <script src="/js/scriptFile.js"></script>
        <title>Home page</title></head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <p> created by {{name}}</p>
    </body>
</html>